#carousel {
    width: 60%;
    border: 1px #000 solid;
    padding: 0;
    white-space: nowrap;
    overflow : hidden;
    margin: auto;
}

#carousel li {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
img {
    width: 100%;
}

